{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1># Q u a r a n t i n o</h1>
    <div id="panel">
        <div id="stats">
            
            <div><span id="points">0</span><span id="points-added" class="fade">0</span></div>
            <div id="lvl">level <span id="level">0</span></div>
        </div>
        <div id="restart" class="hide">
            &#x21bb;
        </div>
        <div id="handwash">
            &#x1F9FC;&#x1F44F;
        </div>
    </div>

    <div id="gameover" class="hide">
        Game Over
    </div>

    <div id="grid">
    </div>

    <div id="rules">
        <h2>How To Play</h2>
        <ul>
            <li>
                <div class='square active'>
                    <span class='emoji'>&#x1F600;</span>
                </div>   
                <p>
                    Tap the emoji as fast as you can. <br/>
                    Double points if you're fast.  <br/> 
                    No points if you're too slow.
                </p> 
            </li>
            <li>
                <div class='square'>
                    <span class='emoji'>
                        &#x26D4;
                    </span>
                </div>  
                <p>
                    Do not tap on empty squares.
                </p>
            </li>
            <li>
                <div class='square'>
                    <span class='emoji'>&#x1F927;&#x1F912;&#x1F637;</span>
                </div>  
                <p>
                    After you tap an infected emoji, <br/> 
                    tap the handwash button (&#x1F9FC;&#x1F44F;) before continuing.
                </p>
            </li>
        </ul>
    </div>
    <footer>
        <p>Made by Ani | Quarantino | 2020</p>
    </footer>
  </div>

{% endblock %}